apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filebrowser-pvc
spec:
  storageClassName: freenas-nfs-csi
  accessModes:
    - ReadWriteOncePod
  resources:
    requests:
      storage: 100Gi
