[tasks.tfinit]
description = "Run tofu init"
run = "tofu init"
dir = "./terraform"

[tasks.tfplan]
description = "Run tofu plan"
run = "tofu plan -out=tfplan"
depends = ["tfinit"]
dir = "./terraform"

[tasks.tfapply]
description = "Run tofu apply"
run = "tofu apply tfplan"
depends = ["tfplan"]
dir = "./terraform"

[tasks.tfrefresh]
description = "Run tofu refresh"
run = "tofu refresh"
dir = "./terraform"

[tasks.provision]
description = "Provision VMs"
run = "tofu apply -auto-approve tfplan"
depends = ["tfplan"]
dir = "./terraform"

[tasks.destroy]
description = "Destroy all resources"
run = [
  "tofu state rm module.infra.proxmox_virtual_environment_network_linux_bridge.uplink",
  "tofu destroy",
]
dir = "./terraform"
