apiVersion: v1
kind: ConfigMap
metadata:
  name: cilium-values
data:
  values.yaml: |-
    operator:
      replicas: 1
    hubble:
      relay:
        enabled: true
      ui:
        enabled: true
    ipam:
      mode: kubernetes
