apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 1h
  chart:
    spec:
      chart: traefik
      version: "38.0.x"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: traefik-values
