apiVersion: v1
kind: ConfigMap
metadata:
  name: democratic-csi-nfs-config
  namespace: democratic-csi
data:
  csiDriver:
    name: "home.nyumbani.nfs"
    fsGroupPolicy: File

  storageClasses:
    - name: freenas-nfs-csi
      defaultClass: false
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: nfs
      mountOptions:
        - noatime
        - nfsvers=4
      secrets:
        provisioner-secret:
        controller-publish-secret:
        node-stage-secret:
        node-publish-secret:
        controller-expand-secret:

  driver:
    existingConfigSecret: democratic-csi-nfs-driver-config
    config:
      driver: freenas-api-nfs
