apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - pairs:
      app.kubernetes.io/name: vaultwarden
      app.kubernetes.io/component: server
      app.kubernetes.io/part-of: identity-services
resources:
  - statefulset.yaml
  - service.yaml
  - configmap.yaml
  - pvc.yaml
