apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vaultwarden-pvc
spec:
  storageClassName: freenas-iscsi-csi
  accessModes:
    - ReadWriteOncePod
  resources:
    requests:
      storage: 20Gi
