apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filestash-pvc
spec:
  storageClassName: freenas-nfs-csi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
