apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
spec:
  valuesContent: |-
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`dashboard.traefik.k8s.nyumbani.home`)
        entryPoints:
          - web
    providers:
      kubernetesGateway:
        enabled: true
    gateway:
      listeners:
        web:
          namespacePolicy:
            from: All
