apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  interval: 10m
  chart:
    spec:
      chart: cilium
      version: "1.18.x"
      sourceRef:
        kind: HelmRepository
        name: cilium
      interval: 10m
  valuesFrom:
    - kind: ConfigMap
      name: cilium-config
