apiVersion: v1
kind: ConfigMap
metadata:
  name: cilium-config
  namespace: kube-system
data:
  values.yaml:
    operator:
      replicas: 1
    hubble:
      relay:
        enabled: true
      ui:
        enabled: true
