apiVersion: v1
kind: ConfigMap
metadata:
  name: cilium-config
data:
  values.yaml: |-
    operator:
      replicas: 1
    hubble:
      relay:
        enabled: true
      ui:
        enabled: true
    ipam:
      operator:
        clusterPoolIPv4PodCIDRList: 10.42.0.0/16
